body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #e0f2ff);
  color: #fff;
  margin: 0;
}

header {
  padding: 20px;
  text-align: center;
}

.slogan {
  color: #38bdf8;
  font-weight: bold;
}

#search {
  padding: 10px;
  width: 250px;
  border-radius: 20px;
  border: none;
}

.category {
  padding: 20px;
}

.products {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  color: #000;
  padding: 15px;
  border-radius: 12px;
  width: 180px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

form input, textarea, button {
  display: block;
  width: 90%;
  margin: 8px auto;
  padding: 10px;
}
